<mat-card class="mat-elevation-z9">
    <mat-card-header>
        <mat-card-title >Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form novalidate
                    (ngSubmit)="save()"
                    [formGroup]="loginForm">

                    <div class="form-group row mb-2" id="form-field">
                      <label class="col-md-3 col-form-label"
                             for="userName">User Name</label>
                      <div class="col-md-7">
                        <input class="form-control"
                               id="userName"
                               type="text"
                               placeholder="User Name (required)"
                               formControlName="userName"
                               size="6"
                               [ngClass]="{'is-invalid': (loginForm.get('userName').touched || loginForm.get('userName').dirty) && !loginForm.get('userName').valid }" />
                        <span class="invalid-feedback">
                          <span *ngIf="loginForm.get('userName').errors?.required">
                            Please enter your User name.
                          </span>
                          <span *ngIf="loginForm.get('userName').errors?.minlength">
                            The user name must be longer than 3 characters.
                          </span>
                        </span>
                    </div>
                </div>
                
                <div class="form-group row mb-2" id="form-field">
                  <label class="col-md-3 col-form-label"
                         for="passwordId">password</label>
                  <div class="col-md-7">
                    <input class="form-control"
                           id="passwordId"
                           type="password"
                           placeholder="password (required)"
                           formControlName="password"
                           [ngClass]="{'is-invalid': (loginForm.get('password').touched || loginForm.get('password').dirty) && !loginForm.get('password').valid }" />
                    <span class="invalid-feedback">
                      <span *ngIf="loginForm.get('password').errors?.required">
                        Please enter your password.
                      </span>
                    </span>
                  </div>
                </div>
            </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button 
                id="button"
                class="btn btn-primary mr-3"
                type="submit"
                style="width:80px"
                [title]="loginForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                [disabled]="!loginForm.valid">
              Submit
         </button>
    </mat-card-actions>
</mat-card>
